
#home-header
  %h1 Topics

%div
  .row
    .col-sm-12
      %h2
        Refrigeration
      %p
        Marsh (1997) stated that health, welfare, comfort and productivity of nations are interwoven with new developments in both refrigeration and air-conditioning fields. Refrigeration is essential for the preservation of foods, producing and safekeeping of medical needs and the likes.

  %hr

  .row
    .col-sm-12
      %h2
        Air conditioning

      %p
        Air conditioning (www.wikipedia.com) (often referred to as aircon, AC or A/C) is the process of altering the properties of air (primarily temperature and humidity) to more favourable conditions. More generally, air conditioning can refer to any form of technological cooling, heating, ventilation, or disinfection that modifies the condition of air. An air conditioner is a major or home appliance, system, or mechanism designed to change the air temperature and humidity within an area (used for cooling and sometimes heating depending on the air properties at a given time).

      %p
        The cooling is typically done using a simple refrigeration cycle, but sometimes evaporation is used, commonly for comfort cooling in buildings and motor vehicles. In construction, a complete system of heating, ventilation and air conditioning is referred to as "HVAC".

      %p
        Air conditioning can also be provided by a simple process called free cooling which uses pumps to circulate a coolant (typically water or a glycol mix) from a cold source, which in turn acts as a heat sink for the energy that is removed from the cooled space. Free cooling systems can have very high efficiencies, and are sometimes combined with seasonal thermal energy storage (STES) so the cold of winter can be used for summer air conditioning. Common storage media are deep aquifers or a natural underground rock mass accessed via a cluster of small-diameter, heat exchanger equipped boreholes. Some systems with small storage are hybrids, using free cooling early in the cooling season, and later employing a heat pump to chill the circulation coming from the storage. The heat pump is added-in because the temperature of the storage gradually increase during the cooling season, thereby declining in effectiveness. Free cooling and hybrid systems are mature technology.

      %h4
        Vapor compression system

      = image_tag('vapor.png')