
#home-header
  %h1 Contact Us

%div
  .row
    .col-sm-12
      %div
        %span.glyphicon.glyphicon-user
        Dennis T. Montealegre
      %div
        University of Makati
      %div
        West Rembo, Makati City
      %div
        09224481447
      %div
        9255331

      %br

      %div
        = mail_to "Montealegre.dt@gmail.com"
      %div
        = mail_to "Minamino_hollyturqouis@yahoo.com"
      %div
        = mail_to "Kelly_zai@yahoo.com"
