#home-header
  %h1 My Thesis

%div
  %h2
    Video
  %p
    In summary, the indoor and outdoor coils (condenser and evaporator) are where the refrigerant changes "phase", absorbing or releasing heat through boiling and condensing. The compressor and expansion valvefacilitate the pressure changes, increased by the compressor and reduced by the expansion valve.