
#home-header
  %h1 About

%div
  .row
    .col-sm-12
      %p
        Prof. Dennis T. Montealegre is a graduate student of University of Makati in 2005. He is holding a bachelor’s degree of Building Management Technology, a Jehovah’s Witness and happily married to Racquel D. Montealegre. Currently, he is now an Instructor in the same University teaching subject such as Electrical technology, Refrigeration and Airconditioning, Welding fabrication which he is a National Certificate 2 holder. He is also a part time consultant in some private companies and in some security and safety companies. He pursued his studies at the Technological University of the Philippines in 2010 where now he is academically completed and in the University of Makati where he finished a master’s degree in Innovative Education Major in technology.

      %p
        Along his journey, success is concealed without the help of his mentors who gives inspiration and full support in his every endeavor. Some of them were his Dean Eliseo Co, the Guidance councelor Dr. Tess Tapalla, and Dr. Editha Chan the Executive vice president of the institution, who gave the motivation. Also, Joseph Par he’s adviser who untiringly guide his every decision towards the graduation.  Not to mention comrades who are willing to give advices in the long run.

      %p
        The researchers continue to believed that every day we wake up we have two choices, one is we get back to our sleep and continue to the dream we had or get up and run after that dream in reality.

      %p
        This mechanical vapor cycle module is for the student of University of Makati whose goal is to have a complete knowledge of the mechanical vapor cycle in the subject refrigeration and air conditioning. Also, it is intended to explain each parts of the system such as the condenser, compressor, evaporator, refrigerants, and metering devices.

      %p
        The researcher envision that the equipment will be in a excellent use and will be preserved by the University as long as there is a advocate willing to use and learn from it or another researcher wanted to develop it.
