.col-sm-12.activity2.next
  .title
    %h2
      ACTIVITY NO.2

  %table.table.borderless
    %tr
      %td.padding-left0
        %h3 TITLE
      %td.activity-title : CHARGING THE SYSTEM WITH REFRIGERANT
    %tr
      %td.padding-left0
        %h3 OBJECTIVES
      %td
        %span.objective : When you have completed this learning Element, you will be able to:
        %ul
          %li Charge the system with refrigerant sufficient for proper operation.
          %li Check refrigerant charge satisfying standards stated in the progress check.



  %h3
    EQUIPMENT, MATERIALS, AND AIDS YOU WILL NEED
  .col-sm-8
    %table.table.table-striped
      %thead
        %tr
          %th Quantity
          %th Unit
          %th Description
      %tbody
        %tr
          %td 1
          %td set
          %td Charging System

        %tr
          %td 1
          %td set
          %td Vacuum pump

        %tr
          %td 1
          %td set
          %td Refrigerant cylinder (one full and one empty)

        %tr
          %td 1
          %td unit
          %td Platform scale

        %tr
          %td 1
          %td unit
          %td Leak detector

        %tr
          %td 5
          %td kg
          %td Dry ice

        %tr
          %td 1
          %td unit
          %td Compressor with access fitting

        %tr
          %td 1
          %td
          %td Gage manifold
  .clearfix


  %br
  %h3 RELATED LEARNING ELEMENTS

  %h4 Charging the System with Refrigerant
  %p Procedure:
  %ol
    %li Connect a refrigerant cylinder to center port E of the gauge manifold.
    %li Place the refrigerant cylinder on a platform scale, as shown.
    %li Open the refrigerant cylinder valve R, as shown.
    %li Crack the center hose E for a few seconds to purge the hose of air using an open wrench, as shown.
    %li Start compressor.
    %li Open the low side manifold hand valve.
    %h6 Note: Refrigerant is now flowing into the system.

    %li Continue charging until the weight reading of the scale corresponds to the initial reading less the required amount of refrigerant.
    %div
      Initial Reading   =   10 Kg.
    %div
      Actual Reading  =    7 Kg.
    %div
      Amount charge  =     3 Kg.


  %br
  %h4 Checking the Refrigerant Charge
  %h5 THREE METHODS
  %ul
    %li Head pressure method
    %li Slight glass method
    %li Leak detector method

  %p.bold Head Pressure Method
  %p.text-indent50 If head pressure indicates below normal of 10 psig, it is an indication of lack of refrigerant.

  %p.bold Sight Glass Method
  %p.text-indent50 Mount of sight glass in the liquid line and see if any bubbles are going up the line, as shown. Bubbles indicate insufficient refrigerant

  %p.bold Leak Detector Method
  %p.text-indent50 Leakage in the system also contributes to insufficient refrigerant.

  %br
  %h5 PROGRESS CHECK
  %p A. Choose the right answer in five (5) minutes.
  %ol
    %li Attached to the liquid line to help indicate refrigerant charge is sufficient or not.
    %ol{type: "a"}
      %li Pressure gage
      %li Sight glass
      %li Strainer

    %li Must be purge before charing a system with refrigerant.
    %ol{type: "a"}
      %li Air
      %li Oil
      %li Water

    %li Another indication that insufficient refrigerant is charged into the system.
    %ol{type: "a"}
      %li Smoke
      %li Liquid
      %li Bubbles

    %li Charging refrigerant in the system is done on the:
    %ol{type: "a"}
      %li High side
      %li Low side
      %li Condenser

    %li Evacuating the system can be done with the use of:
    %ol{type: "a"}
      %li Evaporator
      %li Condenser
      %li Vacuum pump

  %br
  %p B. After reading this Learning Element. CALL YOUR INSTRUCTOR who will evaluate your accomplishment based on the following criteria.
  %h4 INSTRUCTOR’S CHECKLIST
  .col-sm-8
    %table.table.borderless
      %thead
        %tr
          %td
          %td ACCEPTABILITY
        %tr
          %td
          %td YES
          %td NO

      %tbody
        %tr
          %td Evacuating the system completely.
          %td ________
          %td ________
        %tr
          %td Observance of proper procedure.
          %td ________
          %td ________
        %tr
          %td Technique recommended during charging operation observed.
          %td ________
          %td ________
        %tr
          %td Method of checking the charge after charging was employed.
          %td ________
          %td ________
        %tr
          %td Charging the system with sufficient refrigerant.
          %td ________
          %td ________
        %tr
          %td Observance of safety.
          %td ________
          %td ________
        %tr
          %td Proper use of tool materials and equipment.
          %td ________
          %td ________
