#activities
  .row
    .col-sm-12
      .title
        %h2
          ACTIVITY NO.1
        %h2
          EVACUATING THE SYSTEM WITH REFRIGERANT

      %h3
        EVACUATING THE SYSTEM
      %ol
        %li Using a pump-out unit.
        %li Using refrigerant cylinder packed in dry ice.
        %li 3. Using special access fitting.

      %br
      %h4 Using Pump-out Unit or Vacuum Pump
      %p Procedure:
      %ol
        %li Connect pump-out unit to low side or suction service valve, as shown, using a wrench.
        %li Crack low  and high pressure valves on the gage manifold. By opening it slightly to allow air to pass through, as shown.
        %li Crack the suction service valve on the pump-out unit.
        %li Plug in lead cord and start pump-out unit.
        %li Watch high pressure gage at all times.
        %h6 Note: An abnormal rise in head pressure may mean that the receivers are filled. Pressure should not exceed 10” Hg. If it exceed 10” Hg, stop pump out unit.

        %li Watch the low pressure gage. When the low side reaches a 5” Hg. Vacuum, stop the compressor.
        %h6 Note: When the low side pressure is at 5” Hg. , the system is evacuated already.

        %li Visually check the receiver for any evidence of frost.

      %br
      %h4 Using the Refrigerant Cylinder Packed in Dry Ice
      %p Procedure:
      %ol
        %li Properly install the set of gages at the low and high pressure side, Refer to L.E “pressure  Gauges And Gauge Manifold Set”.
        %li Connect  refrigerant cylinder to port E, as shown.

        %li Pack the refrigerant cylinder  in dry ice, with a weighing scale, as shown.
        %h6
          %b Note: The scale is use to determine how much refrigerant to recovered.
        %li Open all valves on the gage manifold and on the system to be evacuated.
        %li Open the service valve on the the refrigerant cylinder.

        %li Watch the low pressure gage on the manifold.
        %h6
          Note: When 0 psi is shown, close manifold valves A and B.

        %li If low side pressure rises, open manifold valves a and B until the pressure                                          remains
        %h6
          Note: If the pressure remains 0 psi, this indicates that the system has already been evacuated.
        %li Close the refrigerant cylinder valve, as shown.

      %br
      %h4 Using Special access Fitting ( If system does not have service valves )
      %p Procedure:
      %ol
        %li Look for special access fitting on the compressor.

        %li Connect tubing on the proper line, by brazing, as shown.
        %h6
          Note: Refer to L.E. “Soldering and Brazing”.

        %li Proceed using the refrigerant cylinder packed in dry ice.
        %h6
          Note: Refer to L.E. “Evacuating the Refrigerant System”.

    = render :partial => "activities/activity_2"